Step 1: Load the data

In [1]:
import pandas as pd

pd.set_option("mode.copy_on_write", True)

In [2]:
death = pd.read_csv("drug_deaths.txt", delimiter="\t")

In [3]:
population = pd.read_csv("population.csv")

In [4]:
population

,FIPS,State,State_FIPS,County_FIPS,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,1001,AL,1,1,45909.0,46800.0,48366.0,49676.0,51328.0,52405.0,53277.0,54135.0,54761.0,55229.0,54970.0,54747.0,54922.0,54903.0,55302.0
1,1003,AL,1,3,147957.0,151509.0,156266.0,160970.0,168121.0,172404.0,175827.0,179406.0,183121.0,186579.0,190203.0,194978.0,199306.0,203101.0,207787.0
2,1005,AL,1,5,28653.0,28594.0,28287.0,28027.0,27861.0,27757.0,27808.0,27657.0,27325.0,27344.0,27172.0,26946.0,26768.0,26300.0,25828.0
3,1007,AL,1,7,21199.0,21399.0,21721.0,22042.0,22099.0,22438.0,22705.0,22941.0,22858.0,22736.0,22657.0,22510.0,22541.0,22553.0,22590.0
4,1009,AL,1,9,52551.0,53457.0,54124.0,54624.0,55485.0,56240.0,57055.0,57341.0,57372.0,57561.0,57585.0,57630.0,57536.0,57535.0,57487.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3132,56037,WY,56,37,37428.0,37450.0,38026.0,38739.0,39749.0,41470.0,42358.0,44133.0,43580.0,44000.0,45032.0,45189.0,44996.0,44780.0,44319.0
3133,56039,WY,56,39,18837.0,19066.0,19467.0,19632.0,20014.0,20472.0,20988.0,21232.0,21298.0,21422.0,21643.0,22335.0,22801.0,23083.0,23255.0
3134,56041,WY,56,41,19587.0,19480.0,19470.0,19494.0,19709.0,20171.0,20613.0,21054.0,21090.0,20901.0,21008.0,20969.0,20835.0,20777.0,20711.0
3135,56043,WY,56,43,7988.0,7976.0,7960.0,8022.0,7979.0,8169.0,8229.0,8423.0,8531.0,8451.0,8410.0,8417.0,8277.0,8282.0,8180.0
3136,56045,WY,56,45,6578.0,6610.0,6646.0,6594.0,6717.0,7033.0,7133.0,7266.0,7198.0,7142.0,7075.0,7132.0,7134.0,7202.0,7228.0

Step 2: Clean the County Code

In [5]:
print(population["FIPS"].dtype)
print(death["County Code"].dtype)

int64
float64

* We will merge death's Couty Code with populaiton's FIPS. Couty code is now a float so we need to convert it to int.

In [6]:
death["County Code"] = death["County Code"].astype(int)

Step 3: Subset the population data based on states and years
* We can get the state code from the County Code. In this way, we double check if we get the correct state. Also we can subset population df with only the relevant states, and we can increase our data processing time by subsetting it.

In [7]:
import math
death["State Code"] = death["County Code"].apply(lambda x: float(math.floor(x / 1000)))
unique_state_code = death["State Code"].unique()
print(unique_state_code)

[17. 39. 12. 47. 48. 53. 54. 20. 41. 31. 56.]

* There are 12 unique state code from the death dataset: [17. 39. 12. 47. 48. 53. 54. 20. 41. 31. 56.]. So we selected the data correctly
* Next step we subset the popultion data based on the state code.

In [8]:
subset_population = population[population['State_FIPS'].isin(unique_state_code)]

In [18]:
print(death["Year"].min())
print(death["Year"].max())

2003
2015

In [24]:
subset_population = subset_population.drop(["2002", "2016"], axis=1)

KeyError: "['2002', '2016'] not found in axis"

In [25]:
subset_population

,FIPS,State,State_FIPS,County_FIPS,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
315,12001,FL,12,1,227022.0,229867.0,233756.0,239506.0,242685.0,244888.0,246657.0,247624.0,249879.0,251596.0,252585.0,255606.0,259215.0
316,12003,FL,12,3,23555.0,24142.0,24832.0,25571.0,26212.0,26725.0,27124.0,27067.0,27055.0,27059.0,27008.0,27123.0,27357.0
317,12005,FL,12,5,155044.0,158804.0,162917.0,165644.0,165345.0,166267.0,167464.0,169209.0,169587.0,171818.0,174704.0,178435.0,181678.0
318,12007,FL,12,7,27035.0,27703.0,28098.0,28506.0,28825.0,28961.0,28979.0,28536.0,28430.0,27052.0,26804.0,26562.0,26759.0
319,12009,FL,12,9,504847.0,518722.0,529907.0,535138.0,539719.0,542378.0,542109.0,544000.0,544442.0,547119.0,550478.0,555838.0,566133.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3132,56037,WY,56,37,37450.0,38026.0,38739.0,39749.0,41470.0,42358.0,44133.0,43580.0,44000.0,45032.0,45189.0,44996.0,44780.0
3133,56039,WY,56,39,19066.0,19467.0,19632.0,20014.0,20472.0,20988.0,21232.0,21298.0,21422.0,21643.0,22335.0,22801.0,23083.0
3134,56041,WY,56,41,19480.0,19470.0,19494.0,19709.0,20171.0,20613.0,21054.0,21090.0,20901.0,21008.0,20969.0,20835.0,20777.0
3135,56043,WY,56,43,7976.0,7960.0,8022.0,7979.0,8169.0,8229.0,8423.0,8531.0,8451.0,8410.0,8417.0,8277.0,8282.0
3136,56045,WY,56,45,6610.0,6646.0,6594.0,6717.0,7033.0,7133.0,7266.0,7198.0,7142.0,7075.0,7132.0,7134.0,7202.0

Step 4: Check the valid counties number

In [9]:
print(subset_population["FIPS"].nunique())
print(death["County Code"].nunique())

957
312

death_unique_county = death["County Code"].unique()
population_unique_county = death[]

Step 5:

In [26]:
melted_data = death.pivot_table(index=['County', 'County Code', 'State Code'], columns='Year', values='Deaths').reset_index()
melted_data.columns.name = None

In [31]:
melted_data
rows_without_nan = melted_data[melted_data.notnull().all(axis=1)]
print(rows_without_nan.shape[0])
print(rows_without_nan[['County', 'County Code']])
large_county_code = rows_without_nan['County Code']

94
                    County  County Code
14       Benton County, WA        53005
16        Bexar County, TX        48029
17       Blount County, TN        47009
20     Brazoria County, TX        48039
22      Brevard County, FL        12009
..                     ...          ...
299     Wichita County, TX        48485
300        Will County, IL        17197
303  Williamson County, TX        48491
305   Winnebago County, IL        17201
310      Yakima County, WA        53077

[94 rows x 2 columns]

In [32]:
large_county = subset_population[subset_population['FIPS'].isin(large_county_code)]
small_county = subset_population[~subset_population['FIPS'].isin(large_county_code)]

In [33]:
large_county.describe()

,FIPS,State_FIPS,County_FIPS,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
count,94.000000,94.000000,94.000000,9.400000e+01,9.400000e+01,9.400000e+01,9.400000e+01,9.400000e+01,9.400000e+01,9.400000e+01,9.400000e+01,9.400000e+01,9.400000e+01,9.400000e+01,9.400000e+01,9.400000e+01
mean,33630.095745,33.521277,108.819149,5.850236e+05,5.922109e+05,6.000081e+05,6.092145e+05,6.161423e+05,6.229911e+05,6.300105e+05,6.367246e+05,6.438757e+05,6.516615e+05,6.590589e+05,6.675483e+05,6.767535e+05
std,16563.246899,16.540422,105.012950,7.392485e+05,7.394968e+05,7.407632e+05,7.458482e+05,7.491512e+05,7.555834e+05,7.649843e+05,7.733840e+05,7.825420e+05,7.925746e+05,8.018566e+05,8.112095e+05,8.200640e+05
min,12009.000000,12.000000,5.000000,7.846500e+04,7.842800e+04,7.834100e+04,7.817800e+04,7.832300e+04,7.837900e+04,7.878200e+04,7.892100e+04,7.936600e+04,7.928400e+04,7.884300e+04,7.823600e+04,7.741600e+04
25%,12113.500000,12.000000,40.000000,2.198465e+05,2.240588e+05,2.281620e+05,2.354555e+05,2.435780e+05,2.449770e+05,2.490840e+05,2.518862e+05,2.537128e+05,2.523162e+05,2.526762e+05,2.530640e+05,2.562030e+05
50%,39132.000000,39.000000,84.000000,3.422605e+05,3.512065e+05,3.550200e+05,3.600995e+05,3.702655e+05,3.741220e+05,3.751475e+05,3.760735e+05,3.770760e+05,3.790365e+05,3.813615e+05,3.845760e+05,3.880125e+05
75%,48160.500000,48.000000,120.500000,6.240575e+05,6.371002e+05,6.529335e+05,6.805018e+05,6.907455e+05,6.966822e+05,7.049870e+05,7.126862e+05,7.170248e+05,7.259360e+05,7.401855e+05,7.562025e+05,7.766048e+05
max,54081.000000,54.000000,491.000000,5.294739e+06,5.252021e+06,5.207615e+06,5.165495e+06,5.154235e+06,5.161831e+06,5.181728e+06,5.198977e+06,5.219636e+06,5.239105e+06,5.252513e+06,5.254108e+06,5.243371e+06

In [34]:
small_county.describe()

,FIPS,State_FIPS,County_FIPS,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
count,863.000000,863.000000,863.000000,863.000000,863.000000,863.000000,863.000000,863.000000,863.000000,863.000000,863.000000,863.000000,863.000000,863.000000,863.000000,863.000000
mean,37511.071842,37.381228,129.843569,35122.001159,35517.659328,35910.225956,36387.229432,36818.848204,37203.719583,37536.675550,37843.234067,38036.443801,38229.696408,38401.010429,38635.268830,38897.329085
std,13861.454655,13.835526,118.138353,51732.099807,52861.936376,53975.223724,55235.611570,56460.125068,57634.009953,58742.639978,59794.139487,60598.243137,61436.301869,62245.698374,63234.459302,64231.674150
min,12001.000000,12.000000,1.000000,72.000000,55.000000,70.000000,75.000000,79.000000,61.000000,77.000000,84.000000,95.000000,86.000000,106.000000,89.000000,119.000000
25%,20164.000000,20.000000,44.000000,7570.500000,7584.500000,7654.500000,7688.500000,7703.500000,7718.000000,7716.000000,7837.000000,7758.000000,7712.000000,7662.000000,7611.500000,7619.000000
50%,41065.000000,41.000000,97.000000,19152.000000,19232.000000,19392.000000,19472.000000,19512.000000,19670.000000,19659.000000,19759.000000,19686.000000,19532.000000,19509.000000,19578.000000,19745.000000
75%,48268.000000,48.000000,169.000000,40842.500000,41072.000000,41614.000000,41846.500000,42209.000000,42672.000000,42624.000000,42907.000000,43265.500000,43063.000000,43275.000000,43388.500000,43359.000000
max,56045.000000,56.000000,507.000000,632475.000000,653779.000000,674982.000000,695352.000000,715264.000000,736694.000000,757468.000000,779091.000000,795305.000000,807930.000000,818047.000000,829065.000000,838741.000000