In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
# Define state
state_name = 'ohio'

In [3]:
# Step 1: Read the CSV file
fips_file_path = 'fips_codes/fips_' + state_name + '.csv'
fips_df = pd.read_csv(fips_file_path, header=None, names=['FIPS', 'BUYER_COUNTY'])

# Cleaning and converting county names to uppercase to match with the other dataset
fips_df['BUYER_COUNTY'] = fips_df['BUYER_COUNTY'].str.replace(' County', '').str.upper()

# Step 2: Read the Parquet file
data_file_path = '04_MME_WOFIPS/' + state_name + '.parquet'
parquet_df = pd.read_parquet(data_file_path)

# Convert county names in parquet file to uppercase
# Replace 'County' with the actual column name if it's different
parquet_df['BUYER_COUNTY'] = parquet_df['BUYER_COUNTY'].str.upper().str.replace(' COUNTY', '')

# Step 3: Merge the datasets
merged_df = pd.merge(parquet_df, fips_df, on='BUYER_COUNTY', how='left')

# Step 4: Save the merged dataset back to a Parquet file
final_path = '05_MME_Final/' + state_name + '.parquet'
merged_df.to_parquet(final_path)

In [4]:
data = pd.read_parquet(final_path)
data[data['FIPS'].isna()]

Empty DataFrame
Columns: [BUYER_STATE, BUYER_COUNTY, TransactionYear, MME_Conversion_Factor, CALC_BASE_WT_IN_GM, morphine_equivalent_g, FIPS]
Index: []

In [5]:
data.sample(5)

,BUYER_STATE,BUYER_COUNTY,TransactionYear,MME_Conversion_Factor,CALC_BASE_WT_IN_GM,morphine_equivalent_g,FIPS
773,OH,TRUMBULL,2009,35587.5,116304.262428,155493.615926,39155
722,OH,SCIOTO,2008,13794.5,60606.743637,84469.038431,39145
674,OH,PREBLE,2010,6264.5,11520.121608,14578.509237,39135
781,OH,TUSCARAWAS,2007,7179.5,15425.592095,19818.692378,39157
592,OH,MUSKINGUM,2008,11529.5,27462.685640,36161.035760,39119